@import 'site-styles';

body {
    max-width: 870px;
    width: 100%;
    margin-inline: auto;
}

a:focus {
    outline: 0;
}

header {
    min-height: 160px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    @include logo-desktop;
}

.nav {
    max-width: 267px;
    width: 100%;

    display: flex;
    align-items: center;

    &__item {
        margin-right: 30px;
    }

    &__link {
        @include nav-link;

        &:hover {
            color: #5e6074;
            text-shadow: 0px 6px 12px #9c9eae;
        }
    }

    &__dots {
        display: none;
    }
}

.main {
    margin: 77px auto 47px;
    max-width: 574px;
    width: 100%;
    min-height: 198px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__heading {
        @include h1-desktop;
    }

    &__text {
        @include text-desktop-tablet;
    }
}


@media screen and (max-width: 870px) {
    body {
        max-width: 617px;
    }

    .main__heading {
        @include h1-tablet;
    }

    .logo {
        @include logo-smaller-screens;
    }
}

@media screen and (max-width: 640px) {
    body {
        max-width: 258px;
        width: 100%;
    }

    header {
        min-height: 57px
    }

    .nav__item {
        display: none;
    }

    .nav__dots {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
    }

    .main {
        margin-top: 54px;
        min-height: 116px;

        &__heading {
            @include h1-mobile;
        }

        &__text {
            @include text-mobile
        }
    }
} 
