@import 'site-styles';

body {
    max-width: 870px;
    width: 100%;
    margin-inline: auto;
}

header {
    min-height: 160px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    @include logo-desktop;
}

.nav {
    max-width: 267px;
    width: 100%;

    display: flex;
    align-items: center;

    &__item {
        margin-right: 30px;
    }

    &__link {
        @include nav-link;
    }
}

.main {
    margin: 77px auto 47px;
    max-width: 574px;
    width: 100%;
    min-height: 198px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__heading {
        @include h1-desktop;
    }

    &__text {
        @include text-desktop-tablet;
    }
}


@media screen and (max-width: 870px) {
    body {
        max-width: 617px;
    }

    .logo {
        @include logo-smaller-screens;
    }
}
